body {
	background: #EFEFEF;
	font-family: helvetica;
}

.header {
	margin: 30px 0 50px 10%;
	width: 495px;
}

.header img {
	float: left;
	width: 89px;
	margin-right: 10px;
}

h1 {
	font-size: 3em;
	font-weight: bold;
	margin-top: 1px;
}

.menu {
	width: 300px;
	display: inline-block;
	margin-left: 5px;
}

.menu a {
	margin-right: 20px;
}

.col-md-6 {
	padding: 0;
}

.box {
	border: 1px solid gray;
	padding: 20px;
	background: white;
	font-size: 1.2em;
	margin-bottom: 20px;
}

.box h2 {
	color: #000;
	font-size: 1.4em;
	margin-top: 0px;
	border-bottom: 1px solid #000;
	padding-bottom: 10px;
}

.mealDetails input {
	padding: 10px;
	margin: 0 5px 20px 0;
	width: 80px;
	border: none;
	border-bottom: 1px solid #AEAEAE;
}

.buttons {
	margin: 20px 0 0 40px;
}

.btn {
	width: 100px;
	margin-bottom: 20px;
}

.cancel { margin-left: 20px;}
.reset {
	float: right;
}

ul {
	list-style: none;
}

body, html {
  margin:0;
  padding:0;
  position:relative;
  height:100%;
  padding-top:10px;
}

/* ROUTE LOADING ANIMATION */
.loading {
  position:relative;
  height:100%;
}
.loading:before {
  position:absolute;
  content:"";
  left:0;
  bottom:0;
  right:0;
  top:0;
  z-index:1000;
  background:rgba(255,255,255,0.9) no-repeat center center;
  background-image: url('./images/loading_waiter.gif');
}
.animate-view-container { position:relative; min-height: 100%; }
.animate-view.ng-enter,
.animate-view.ng-leave {
    transition:1s linear all;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:#eee;
}
.animate-view.ng-enter { opacity:0; z-index:100; }
.animate-view.ng-enter.ng-enter-active { opacity:1; }
.animate-view.ng-leave { opacity:1; z-index:99; }
.animate-view.ng-leave.ng-leave-active { opacity:0; }

@media (max-width: 1000px) {
	.col-md-6 {
		width: 80%;
		margin-left: 10%;
	}
}

@media (max-width: 600px) {
	h1 { font-size: 2.5em; }
	.header img { width: 65px; }
}